
        <footer class="footer">
            <div class="container d-flex flex-column flex-md-column justify-content-center mb-3">
                <div class="mx-auto">
                    <div class="d-flex flex-row flex-md-row justify-content-around ">
                        <a href="https://github.com/walter-clayton/" target="_blank"><i class=" mx-auto fab fa-github fa-2x text-secondary"></i></a>
                        <a href="https://www.linkedin.com/in/walter-clayton-2b50b4191/" target="_blank"><i class=" mx-auto fab fa-linkedin fa-2x text-secondary"></i> </a>                   
                    </div>
                <hr>
                   <span class="text-secondary mx-auto justify-content-center text-align-center"> &copy; 2020 Walter Clayton, All Rights Reserved</span>
                </div> 
            </div>
        </footer>
</body>
</html>