<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Author: Walter Clayton, made this website with Nodejs, Express, Bootstrap, HTML5, CSS3">
    <!-- STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- BOOTSTRAP -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- FONTAWESOME -->
    <link rel="icon" href="images/logo.ico" type='image/x-icon'>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Document</title>
</head>
<body>
