<nav class="navbar navbar-expand-md background-mud">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-1x"></i>
        </button>
    <div class="collapse navbar-collapse mx-auto"  id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item  mx-auto">
                <a class="nav-link mx-5" href="/">HOME</a>
            </li>
            <li class="nav-item mx-auto">
                <a class="nav-link mx-5" href="./about">ABOUT</a>
            </li>
            <li class="nav-item mx-auto">
                <a class=" nav-link mx-5" href="mailto:walter.h.clayton@gmail.com">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
