

.jumbotron {
    background-color: #43515A !important;
}

#landing-button {
    border-color: #F9AA8F;
    border-width: 5px;
    background-color: transparent;
    width:150px;
}

.card {
    border-color: #F9AA8F !important;
    border-width: 1px !important;
    box-shadow: 0 4px 8px 0 #F9AA8F, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#enter {
    color: #F9AA8F !important;
}

h1 {
    color: #F9AA8F;
    text-align: center;
    font-weight: 300 !important;
}

hr { width:150px; border-top:5px solid #F9AA8F !important; background: #F9AA8F}
hr.about { width:85%; border-top:3px solid #F9AA8F !important; background: #F9AA8F}

a {
    text-decoration: none !important;
    color: white !important;
}

.about i{
    pointer-events:none !important;}

i:hover{
    color: #F9AA8F !important;
}

nav a:hover {
    color: #F9AA8F !important;
}

.btn:hover{
    box-shadow: 0 4px 8px 0 #F9AA8F, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-toggler {
    color: #F9AA8F !important;
}

svg {
    color: #F9AA8F;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  header {  
    /* This section calls the slideInFromBottom animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromBottom;
    
    background: #43515A;
  }


/*Début animation de la div de la page index*/
.lesTroisCercle{
    width: 100%;
    height: 15rem;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}

.aboutText .lesTroisCercle span:nth-child(1){
    position: absolute;
    margin: auto;
    top: auto;
    left: auto;
    width: 200px;
    height: 200px;
    border: solid 1.5px #F9AA8F;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}
.aboutText .lesTroisCercle span:nth-child(2){
    position: absolute;
    margin: auto;
    top: auto;
    left: auto;
    width: 200px;
    height: 200px;
    border: solid 1.5px #F9AA8F;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 8s linear infinite;
}
.aboutText .lesTroisCercle span:nth-child(3){
    position: absolute;
    margin: auto;
    top: auto;
    left: auto;
    width: 200px;
    height: 200px;
    border: solid 1.5px #F9AA8F;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}
.aboutText .lesTroisCercle span:nth-child(2){
    position: absolute;
    margin: auto;
    top: auto;
    left: auto;
    width: 200px;
    height: 220px;
    border: solid 1.5px #F9AA8F;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.aboutText .lesTroisCercle span:nth-child(3){
    position: absolute;
    margin: auto;
    top: auto;
    left: auto;
    width: 220px;
    height: 200px;
    border: solid 1.5px #F9AA8F;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 5s linear infinite;
}
.aboutText .lesTroisCercle span:nth-child(4){
    position: absolute;
    margin: auto;
    top: auto;
    left: auto;
    width: 220px;
    height: 215px;
    border: solid 1.5px #F9AA8F;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 15s linear infinite;
}

#logo {
    color: #F9AA8F;
    font-size: 100px;
}


@keyframes animate{
    0%
    {
         transform: rotate(0deg);
    }
    100%
    {
         transform: rotate(360deg);
    }
}
