<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

          <!--Début de la section About-->
          <div class="container mt-5 about " id="about">
                    <div class="card  mb-4 d-flex col-lg-8 row mx-auto bg-light justify-content-center">
                        <div class="card-body ">
                            <div class="card-title"><h2 class=" py-2 d-flex justify-content-center" >Background</h2>
                            <div class="card-text d-flex justify-content-center py-1 text-center" style="line-height: 2.5 !important;">
                                <p>
                                I come from a sport science background, working in laboratories, analysing and optimising performance in elite sport. <br>
                                I discovered code with Blogger and Wix. <br>
                                I got frustated with the limitations of Content Management Systems.<br>
                                I switched to writting my own code from scratch.<br>
                                I found a passion for technology and its potential. <br>
                                I currently work full time as a Full Stack Web Developer. <br>
                                I can now make web apps from start to finish. </div>                           
                                </p>
                            </div>
                            <hr class="about" style="width:85%; border-top:3px solid #F9AA8F !important; background: #F9AA8F">
                            <div class="card-title"><h2 class=" py-4 d-flex justify-content-center">Frontend</h2>
                                <div class="card-text d-flex justify-content-around">
                                    <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><i class="ml-0 fa-align-right fab fa-js fa-3x text-warning"></i></a>
                                    <a href="https://nl.wikipedia.org/wiki/HTML5" target="_blank"><i class="ml-0 fa-align-right fab fa-html5 fa-3x text-warning" style="color: orange !important;"></i></a>
                                    <a href="https://nl.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank"><i class="ml-0 fa-align-right fab fa-css3 fa-3x text-primary"></i></a>
                                </div>
                                <div class="card-text d-flex justify-content-around mt-3">
                                    <a href="https://reactjs.org/" target="_blank"><i class="ml-0 fa-align-right fab fa-react fa-3x text-primary"></i></a>
                                    <a href="https://vuejs.org/" target="_blank"><i class="ml-0 fa-align-right fab fa-vuejs fa-3x text-info"></i></a>
                                </div>
                                <div class="card-text d-flex justify-content-around mx-5 mt-3">
                                    <a href="https://quasar.dev/" target="_blank"><img class="ml-0 "  src="images/quasar-logo-big.png" alt="quasar" style="width: 50px; height: 50px;"> </a>
                                    <a href="https://getbootstrap.com/" target="_blank"><i class="ml-0 fa-align-right fab fa-bootstrap fa-3x text-success" style="color: purple !important;"></i></a>
                                </div>
                            </div>
                            <hr class="about" style="width:85%; border-top:3px solid #F9AA8F !important; background: #F9AA8F">
                            <div class="card-title"><h2 class=" py-4 d-flex justify-content-center">Backend</h2>
                            <div class="card-text d-flex justify-content-around">
                                <a href="https://nodejs.org/" target="_blank"><i class="ml-0 fa-align-right fab fa-node fa-3x text-success"></i></a>
                                <a href="https://www.npmjs.com/" target="_blank"><i class="ml-0 fa-align-right fab fa-npm fa-3x text-danger"></i></a>
                                <a href="https://www.php.net/" target="_blank"><i class="ml-0 fa-align-right fab fa-php fa-3x" style="color: #767BB3"></i></a>
                            </div>
                            <div class="card-text d-flex justify-content-around mt-3">
                                <a href="https://www.mongodb.com/" target="_blank"><img class="ml-0 "  src="images/mongodb.png" alt="mongodb"> </a>
                                <a href="https://www.mysql.com/" target="_blank"><img class="ml-0 "  src="images/mysql.png" alt="mysql" style="width: 60px; height: 50px;"> </a>
                            </div>
                            </div>
                            <hr class="about" style="width:85%; border-top:3px solid #F9AA8F !important; background: #F9AA8F">
                            <div class="card-title"><h2 class=" py-4 d-flex justify-content-center">Other</h2>
                                <div class="card-text d-flex justify-content-around">
                                <a href="https://git-scm.com/" target="_blank"><i class="ml-0 fa-align-right fab fa-git fa-3x text-dark"></i></a>
                                <a href="https://www.docker.com/" target="_blank"><i class="ml-0 fa-align-right fab fa-docker fa-3x text-primary"></i></a>
                                <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank"><img src="images/agile.png" alt="agile" style="width: 60px; height: 50px;"> </a>
                            </div>                           
                            </div>
                            <hr class="about" style="width:85%; border-top:3px solid #F9AA8F !important; background: #F9AA8F">
                        </div>
                    </div>
                
                <div class="d-flex col-lg-7 mx-auto justify-content-center mb-5 ">
                            <div class="card mb-4 flex-md-column mx-0 bg-light">
                                <h3 class=" mt-3 p-4 d-flex justify-content-center"> Github performance</h3>
                                <a href="https://github.com/walter-clayton/" target="_blank"><img class="card-img-top rounded border border-secondary my-3" src="images/github-contributions.PNG" alt="github performance"></a>
                                <h3 class=" p-4 d-flex justify-content-center">Web performance</h3>
                                <a class = "mx-auto" href="https://github.com/walter-clayton/" target="_blank"><img class="card-img rounded border border-secondary my-3" src="images/performance.PNG" alt="website performance"></a>
                            </div>

                 </div>
</div>
<%- include ('partials/footer') %>