<%- include ('partials/header') %>
<%- include ('partials/navbar') %>
<div class="container">
    <img src="images/wakatime.svg" class="w-68 mx-auto my-3 d-flex" alt="wakatime logo">
    <h1 class="h1 text-center">Wakatime API</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-3 m-5">
            <figure><embed src="https://wakatime.com/share/@walthedude/d6fb5f09-9176-4ef8-ab32-de0152619d9b.svg"></embed></figure>
        </div>
        <div class="col-md-3 m-5">
            <figure><embed src="https://wakatime.com/share/@walthedude/fdb90f71-9a72-4416-825f-d4e4ff7fe210.svg"></embed></figure>
        </div>
        <div class="col-md-3 m-5">
            <figure><embed src="https://wakatime.com/share/@walthedude/4e99b766-a981-4670-8f52-fdb9312a01fe.svg"></embed></figure>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>
