
<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

<div class="container mt-5">
                  <div class="aboutText jumbotron d-flex justify-content-center row m-0 pb-3">
                        <section class="lesTroisCercle d-flex justify-content-center pb-0 row">
                              <span class=""></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span id = "logo" class="m-auto pb-5"     style="font-weight: 300 !important;"
                              >&lt/&gt</span>
                        </section>
                        <h1 class="mb-0 d-flex justify-content-center fluid col-12 mt-2">Hello Visitor!</h1>
                        <hr class="d-flex justify-content-center fluid column">
                    </div>

            <div class="row p-4 my-5 d-flex justify-content-around">
              <div class="col-lg-6">
                      <div class="card mb-4 d-flex row mx-0 bg-light">
                        <img class="card-img-top rounded border border-secondary" src="images/yelpcamp.gif" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">YelpCamp</h3>
                            <strong class="d-inline-block mb-2 text-secondary">Hybrid App</strong>
                            <p class="card-text">This is a web app that allows users to share campgrounds from all over the world.</p>
                          <div class="d-flex justify-content-between">
                            <a href="https://agile-escarpment-38232.herokuapp.com/" class="btn btn-secondary" target="_blank">Demo</a>
                            <a href="https://github.com/walter-clayton/yelpcamp" target="_blank"><i class="ml-0 fa-align-right fab fa-github fa-2x text-secondary"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-4 d-flex row mx-0 bg-light">
                        <img class="card-img-top rounded border border-secondary" src="images/getflix.gif" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Getflix</h3>
                            <strong class="d-inline-block mb-2 text-secondary">Desktop App</strong>
                            <p class="card-text">This is a "NetFlix" type website. </p>
                          <div class="d-flex justify-content-between">
                            <a href="https://getflixlovelace.000webhostapp.com/" class="btn btn-secondary" target="_blank">Demo</a>
                            <a href="https://github.com/walter-clayton/getflix" target="_blank"><i class="ml-0 fa-align-right fab fa-github fa-2x text-secondary"></i></a>
                          </div>
                        </div>
                      </div>

              </div>
                <div class="col-lg-6">
                      <div class="card flex-md-row mb-4 box-shadow bg-light">
                          <div class="card-body align-items-start">
                              <h3 class="mb-0">
                                Somatotype
                              </h3>                  
                              <strong class="d-inline-block my-2 text-secondary">Web Page</strong>
                              <p class="card-text mb-auto">This is a page that allows users to know their somatotype.
                                Users put in their measurements, and the canvas outputs their results on the graph.</p>
                                <div  class=" row ml-1 mt-3 justify-content-between">
                                  <a href="https://walter-clayton.github.io/somatotype/" target="_blank" class="btn btn-secondary">Demo</a>
                                  <a href="https://github.com/walter-clayton/somatotype" target="_blank"><i class=" ml-0 mr-3 fa-align-right fab fa-github fa-2x text-secondary pr-2"></i></a>
                                </div>                 
                          </div>
                        <img class="card-img-right d-none d-md-block rounded border border-secondary my-auto" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [250x250]" src="images/somatotype.gif" data-holder-rendered="true" style="width: 200px; height: 250px;">
                    </div>
                  <div class="card flex-md-row mb-4 box-shadow bg-light">
                    <div class="card-body align-items-start">
                      <h3 class="mb-0">
                      Ecohoods
                      </h3>                  
                      <strong class="d-inline-block my-2 text-secondary">Hackathon</strong>
                      <p class="card-text mb-auto"> Ecohoods is a platform that allows users to see how much money they have saved from using eco smart devices.</p>
                        <div  class=" row ml-1 mt-3 justify-content-between">
                        <a href="https://walter-clayton.github.io/ecohoods/dashboard.html" target="_blank" class="btn btn-secondary">Demo</a>
                        <a href="https://github.com/walter-clayton/ecohoods" target="_blank"><i class=" ml-0 mr-3 fa-align-right fab fa-github fa-2x text-secondary pr-2"></i></a>                </div>                 
                      </div  >
                    <img class="card-img-right flex-auto d-none d-md-block rounded border border-secondary my-auto" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [250x250]" src="images/ecohoods.gif" data-holder-rendered="true" style="width: 200px; height: 250px;">
                  </div>
                  <div class="card flex-md-row mb-4 box-shadow bg-light">
                    <div class="card-body align-items-start">
                      <h3 class="mb-0">
                        Loulou Clicker
                      </h3>                  
                      <strong class="d-inline-block my-2 text-secondary">Game</strong>
                      <p class="card-text mb-auto"> This is a "Cookie Clicker" type game.The concept was to click the cookie (i.e. loulou head) and gain as many points as possible. </p>
                        <div  class=" row ml-1 mt-3 justify-content-between">
                        <a href="https://github.com/walter-clayton/cookieClicker" target="_blank" class="btn btn-secondary">Demo</a>
                        <a href="https://walter-clayton.github.io/cookieClicker/" target="_blank"><i class=" ml-0 mr-3 fa-align-right fab fa-github fa-2x text-secondary pr-2"></i></a>                </div>                 
                      </div  >
                    <img class="card-img-right flex-auto d-none d-md-block rounded border border-secondary my-auto" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [250x250]" src="images/loulou.gif" data-holder-rendered="true" style="width: 200px; height: 250px;">
                  </div>
              </div>
          </div>
        </div>

        <%- include ('partials/footer') %>
