<%- include ('partials/header') %>

            <div class="aboutText jumbotron d-flex justify-content-center row  mx-0 pb-5">
                 <section class="lesTroisCercle d-flex justify-content-center pb-2 row">
                      <span class=""></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span id = "logo" class="m-auto pb-5" style="font-weight: 300 !important;">&lt/&gt</span>
                 </section>
                 <hr class="d-flex justify-content-center fluid mt-4 column">
                 <h1 class="mb-0 d-flex justify-content-center fluid col-12 mt-3"><span  id="demo">&nbsp</span > Welcome to my website!</h1>
                    <a id = "enter" href="home"><button id = "landing-button" class="light btn-lg p-3 mt-5" href="home">ENTER</button></a>
            </div>
          </div>

 <!-- BOOTSTRAP JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>   
 <style> Body { background-color: #43515A; }</style>
