html, body {
    position: relative;
    margin: 0;
    min-height: 100%;
    margin: auto;
}
body {
    background-color: #E7E7E7 !important;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
 line-height: 1.5 !important;
}
/* Tools */
/* Pages */
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
.vertical-center{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
/* Colors */
.background-mud{
    background-color: #507A95 !important;
}
.background-pink{
    background-color: #FECBB8 !important;
}
.background-white{
    background-color:white !important;
}
.color-mud{
    color: #507A95 !important;
}
.color-dark-mud{
    color: #43515A !important;
}
.color-grey{
    color: #D9D9D9 !important;
}
.mud-pink{
    color:  #F9AA8F !important;
}
.bright-65{
    filter: brightness(65%) ;
}
.border-secondary{
    border-color: #6C757D;
}
/* Height */
.h-300 {
    height: 300px;
}
/* Width */
.w-32{
    width: 32px;
}
.w-inherit{
    width: inherit;
}
.w-100{
    width: 100%;
}
.w-80 {
    width: 80%;
}
.w-fit-content{
    width: fit-content;
}
/* Margins */
.m-50{
    margin-top: 10%;
}
.mt-n1{
    margin-top: -0.25rem;
}
.mt-lg-n100{
    margin-top: -100px;
}
/* Borders */
.border-radius-30{
    border-radius: 30px !important;
}
/* Sizes */
.height-18{
    height: 18px;
}
.entry{
    height: inherit;
}
/* Displays */
.overflow-x-hidden{
    overflow-x: hidden;
}
.overflow-visible{
    overflow: visible;
}
.d-none{
    display: none !important;
}
.button-stack{
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
}
.color-mud{
    color: #507A95;
}
.image-standard{
    width: 200px;
    height: 200px;
}
hr { width:150px; border-top:5px solid #F9AA8F ; background: #F9AA8F}
a {
    text-decoration: none !important;
    color: white !important;
}
a i:hover{
    color: #507A95 !important;
}
nav a:hover {
    color: #F9AA8F !important;
}
.btn:hover{
    font-weight: bold !important;
    border-color: #507A95 !important;
}
.btn:active{
    font-weight: bold !important;
    border-color: #507A95 !important;
}
.navbar-toggler {
    color: #F9AA8F !important;
}
svg {
    color: #F9AA8F;
}
.navbar-brand img {
    height: inherit  !important;
}
.navbar-brand {
    height: inherit !important;
}
.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
@keyframes slideInFromBottom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
header {  
    background: #507A95;
}
.card{
    height: 250px !important;
}
@keyframes spin{
    0%
    {
         transform: rotate(0deg);
    }
    100%
    {
         transform: rotate(360deg);
    }
}
@media (min-width: 993px) {
    .w-750 {
        width: 750px;
    }
    .w-max-lg-400{
        max-width: 400px !important;
    }
    .h-lg-140{
        height: 140px;
    }
}
@media (min-width: 769px) {
    .w-md-750 {
        width: 750px;
    }
    .image-large{
        width: 300px;
        height: 300px;
    }
    .h-md-200{
        height: 200px;
    }
    .mt-md-n125{
        margin-top: -125px;
    }
}
@media (max-width: 992px) {
    .cols{
        padding: 0px !important;
    }
    .col-lg-6{
        padding: 0px !important;
    }
    #sitting-guy{
        width: -webkit-fill-available;
    }
    .d-sm-none{
        display: none !important;
    }
    footer span {
        font-size: small;
    }
    .card-text p {
        font-size: small;
    }
    .mx-auto-md-only {
        margin: auto;
    }
}
@media (max-width: 768px) {
    .h-sm-300{
        height: 300px;
    }
    .mx-auto-sm-only {
        margin: auto;
    }
    .image-sm-standard{
        width: 200px;
        height: 200px;
    }
    .mt-sm-n75{
        margin-top: -75px;
    }
}
@media (max-width: 576px) {
    .border-radius-30-sm{
        border-radius: 0px !important;
    }
    .card-text p {
        font-size: x-small;
    }
    .mx-auto-xs-only {
        margin: auto;
    }
}
/* Animations */
.appear-one{
    animation: halfOpactiy 1s 1 forwards;
    opacity: 0;
}
.appear-two{
    animation: halfOpactiy 1s 0.5s 1 forwards;
    opacity: 0;
}
.appear-three{
    animation: halfOpactiy 1s 1s 1 forwards;
    opacity: 0;
}
.appear-four{
    animation: halfOpactiy 1s 1.5s 1 forwards;
    opacity: 0;
}
.appear-five{
    animation: halfOpactiy 1s 2s 1 forwards;
    opacity: 0;
}
.screen-writing-scroll{
    animation: horizontalScroll 5s forwards 1;
}
.reveal{
    opacity: 0;
}
.reveal.active{
    animation-name: fadeIn;
    animation-duration: 3s;
    opacity: 1;
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes horizontalScroll {
    0% {
        transform: translate3d(0, 8%, 0);
    }
    100% {
        transform: translate3d(0, -2%, 0);
    }
}
@keyframes halfOpactiy {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
